/* ///////////////////////////////// Overall layout ////////////////////////////// */
:root {
    --gold: #A58861;
    --gray: rgba(25, 26, 30, 0.4);
    --black: #141517;
    --white: #fff;
    --red: #780606;
    --black-btn: #191A1E;
    --black-border-btn: rgba(25, 26, 30, 0.15);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 26px;
}

html,
body {
    font-family: 'Silka-SemiBold', sans-serif;
    /* height: 100%; */
}

body {
    /* position: relative; */
    min-height: 100%;
    background-color: #FF7900;
    color: white;
}


/* ////////////////// HEADER ///////////// */
header {
    overflow: hidden;
    background: var(--white);
    color: var(--black);
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid transparent;
    transition: .3s;
    z-index: 999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#logo {
    float: left;
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    font-size: 15px;
}

nav {
    float: right;
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}

/* ////////////////// MAIN ///////////// */
main {
    margin-top: 75px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #FF7900;
}

/* ////////////////// FOOTER ///////////// */
footer {
    background: var(--red);
    color: var(--white);
    width: 100%;
    height: 200px;
    text-align: center;
}

/*/////////////////////////////// FIRST PAGE (start) //////////////////////////////*/
#portfolio-title-container {
    margin-top: 270px;
    margin-bottom: 320px;
}

#portfolio-title {
    font-size: 35px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 900;
}

/*/////////// BARS + lateral navigation (start) /////////////*/
.lines-container {
    position: relative;
    width: 140px;
    width: 60px;
    display: none;
    margin-top: 255px;
    letter-spacing: 2px;
}

.line p a:link {
    text-decoration: none;
    color: var(--white);
}

.line p a:visited {
    color: var(--white);
}

.line p a:hover {
    cursor: pointer;
    border-left: 1px solid var(--white);
}

.lines {
    display: inline-block;
}

.line {
    border-left: 2px solid var(--white);
    position: absolute;
}

.line1 {
    height: 3010px;
    left: 10px;
    margin-left: -3px;
    margin-top: 40px;
}

.line2 {
    height: 836px;
    left: 30px;
    margin-left: 1px;
    margin-top: 70px
}

.line3 {
    height: 239px;
    left: 50px;
    margin-left: 4px;
    margin-top: 141px
}

#text1 {
    writing-mode: vertical-rl;
    margin-left: -10px;
    margin-top: -70px;
    transform: rotate(180deg);
}

#text2 {
    writing-mode: vertical-rl;
    margin-left: -10px;
    margin-top: -46px;
    transform: rotate(180deg);
}

#text3 {
    writing-mode: vertical-rl;
    margin-left: -10px;
    margin-top: -87px;
    transform: rotate(180deg);
}

.location-dot-line {
    width: 10px;
    height: 10px;
    background: var(--gold);
    border-radius: 10px;
    top: 99.6%;
    left: -12%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 15px;
}

.location-ring-line {
    width: 30px;
    height: 30px;
    border: 2px solid var(--gold);
    border-radius: 25px;
    top: calc(99.7% - 18px);
    left: calc(4% - 18px);
    position: absolute;
    transform: translate(-50%, -50%);
    animation: pulsate 1.5s ease-out infinite;
    opacity: 0;
    margin-top: 15px;
}


/*/////////////////////////////// ABOUT ME PAGE (start) //////////////////////////////*/

#lateral-text-content {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    align-self: start;
    padding-right: 28px;
    margin-top: 142px;
}

#lateral-text-content h4 {
    margin-top: 203px;
    margin-right: -8px;
    font-size: 22px;
}

#lateral-text-content h3 {
    font-size: 35px;
}

#me-photo {
    width: 240px;
    display: block;
    margin: 0 auto;
    /* margin-top: -355px; */
    margin-top: -392px;
    margin-bottom: 20px;
}

#about-info {
    text-align: center;
}

.subtitle-red {
    color: var(--red);
}

.subtitle-ambition {
    margin-bottom: -4px;
}

#subtitle-about {
    margin-bottom: 25px;
    margin-left: 98px;
}

#about-info p {
    margin-bottom: 55px;
    text-align: left;
    margin-left: 10px;
    width: auto;
}

.subtitle-location {
    letter-spacing: 3px;
    text-align: center;
    font-weight: 900;
    line-height: 45px;
    margin-bottom: 10px;
}

.subtitle-red span {
    color: var(--white);
    font-weight: 300;
}

#map {
    position: relative;
    transform: translate(-50%, 0);
    display: inline-block;
    left: 50%;
}

#map img {
    width: 100%;
}

.location-dot {
    width: 12px;
    height: 12px;
    background: var(--gold);
    border-radius: 10px;
    top: 30%;
    left: 18%;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    transform: translate(-25%, 293%);
}

.location-ring {
    width: 50px;
    height: 50px;
    border: 2px solid var(--gold);
    border-radius: 25px;
    /* top: calc(59% - 25px);
    left: calc(29% - 25px); */
    top: calc(45% - 25px);
    left: calc(18% - 25px);
    position: absolute;
    transform: translate(-50%, -50%);
    animation: pulsate 1.5s ease-out infinite;
    opacity: 0;
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0.0;
    }
}


/*/////////////////////////////// PROJECT PAGE (start) //////////////////////////////*/
#projects-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 280px 1fr;
    grid-template-rows: auto auto;
}

#projects-title {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 10px;
}

#projects-title h4,
#projects-title h2 {
    display: inline;
    margin: 0;
    padding: 0;
}

#projects-title h4 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-bottom: -67px;
    margin-left: -260px;
}

#projects-title hr {
    width: 56px;
    border-bottom: 2.4px solid white;
    margin-top: -14px;
    padding-left: 56px;
    margin-left: 6px;
}

#projects-title h3 {
    letter-spacing: 5px;
    font-weight: 900;
}

.flip-card {
    background-color: transparent;
    width: 280px;
    height: 280px;
    perspective: 1000px;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #0e1316bd;
    color: white;
    transform: rotateY(180deg);
}


.lazy-load__image {
    opacity: 0;
    transition: 2s;
    /* transform: translateY(5%); */
    transform: translateY(8%);
}

.lazy-load__image--active {
    opacity: 1;
    transform: translateY(0);
}

.wrap {
    grid-column: 1/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    grid-gap: 1em;
    padding-top: 10px;
    background-color: aqua;
    margin-top: 30px;
}

/*/////////////////////////////// CONTACT ME PAGE (start) //////////////////////////////*/
#contact-container {
    margin-top: 50px;
    text-align: center;

}

#contact-container h4 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

#contact-container h3 {
    margin-top: -260px;
    margin-bottom: 30px;
    letter-spacing: 5px;
    font-weight: 900;
}

#adress {
    margin: 0 auto;
    /* background-color: red; */
    width: 240px;
    margin-bottom: 30px;
    margin-left: 70px;
}

#adress,
#social-contact {
    text-align: left;
}

#social-contact img {
    width: 20px;
    height: 20px;
}

.contact-btn {
    background: #fff;
    border: 1px solid var(--black-border-btn);
    color: var(--black-btn);
    transition: all .15s ease-in-out;
    display: inline-block;
    padding: 30px 55px 30px 40px;
    line-height: 0px;
    border-radius: 30px;
    position: relative;
    margin-bottom: 60px;
}

.contact-btn img {
    opacity: .5;
    position: absolute;
    top: 53%;
    transform: translate(0, -50%);
    display: inline-block;
    margin-left: 10px;
    border: 0;
    width: 25px;
}

.contact-btn:hover {
    text-decoration: none;
}

.contact-btn:hover img {
    opacity: 1;
    margin-left: 13px;
}

a {
    text-decoration: none;
}


/*/////////////////////////////// MEDIA (start) //////////////////////////////*/

/* @media only screen and (min-width: 450px) {
    #projects-container hr {
        margin-top: -5.736px;
    }

    #projects-container h3 {
        margin-left: 50px;
    }
} */

@media only screen and (min-width: 500px) {
    /* #projects-container h3 {
        margin-left: -2px;
    } */

    #about-info p {
        margin-right: 10px;
    }

    .location-dot {
        top: 34%;
    }

    #contact-container {
        margin: 0 auto;
        margin-top: 50px;
    }

    #adress {
        /* margin-left: 0px; */
        margin: 0 auto;
        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 550px) {
    #first-main {
        display: grid;
        grid-template-columns: 60px 60px 1fr;
        grid-template-rows: auto auto;
    }

    #portfolio-title-container {
        grid-column: 1/4;
        grid-row: 1/2;
        margin-bottom: 205px;
        margin-top: 215px;
    }

    #portfolio-title {
        font-size: 60px;
    }

    /* #projects-container h3 {
        margin-left: -55px;
    } */

    .lines-container {
        grid-column: 1/2;
        grid-row: 1/3;
        display: block;
    }

    #lateral-text-content {
        grid-column: 1/3;
        grid-row: 2/4;
        padding-right: 32px;
    }

    /* ABOUT CONTAINER (start) -media 550 */
    #about-container {
        grid-column: 3/4;
        grid-row: 2/3;
        background-color: red;
        display: grid;
        grid-template-columns: 190px 1fr;
        margin-bottom: 30px;
    }

    #me-photo {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 240px;
        display: block;
        margin: 0;
        margin-top: 0px;
    }

    #about-info {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .subtitle-ambition {
        margin-left: -100px;
    }

    #subtitle-about {
        margin-left: 10px;
    }

    #about-info p {
        margin-bottom: 55px;
        text-align: left;
        margin-left: 10px;
        width: auto;
    }

    .subtitle-location {
        grid-column: 1/2;
        grid-row: 2/3;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        justify-self: end;
    }

    #map {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    h3 {
        font-size: 40px;
    }

    /* PROJECTS CONTAINER (start) -media 550 */
    #projects-container {
        grid-column: 2/4;
        grid-row: 3/4;
        background-color: greenyellow;
    }

    #projects-title h4 {
        margin-bottom: -57.3px;
        margin-left: -211px;
    }

    #projects-title hr {
        width: 42px;
        border-bottom: 2.4px solid white;
        margin-top: -10px;
        padding-left: 56px;
        margin-left: 25px;
    }


    /*
    #projects-container h3 {
        margin-left: -37px;
        margin-top: -101px;
    } */

    /* CONTACT CONTAINER (start) -media 550 */
    #contact-container {
        grid-column: 2/4;
        grid-row: 4/5;
        background-color: pink;
        margin: 0;
        margin-top: 50px;
    }



}

@media only screen and (min-width: 600px) {
    /* 
    #projects-container h3 {
        margin-left: -82px;
    } */

    .line2 {
        height: 890px;
    }

    .line1 {
        height: 3080px;
    }
}

@media only screen and (min-width: 650px) {
    /* #projects-container h3 {
        margin-left: -131px;
    } */

    .line2 {
        height: 925px;
    }

    .line1 {
        height: 3100px;
    }
}


@media only screen and (min-width: 700px) {
    /* #projects-container h3 {
        margin-left: -186px;
    } */

    .line2 {
        height: 975px;
    }

    .line1 {
        height: 2160px;
    }
}


@media screen and (min-width: 760px) {
    .about-info-block {
        width: 50%;
        float: left;
        position: relative;
        overflow: hidden;
        background: #191A1E;
    }
}

@media screen and (min-width: 768px) {
    /* h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 16px;
    } */

    #logo {
        left: 45px;
        font-size: 20px;
    }

    nav {
        right: 45px;
    }

    #first-main {
        grid-template-columns: 60px 80px 1fr;
    }

    #portfolio-title-container {
        margin-top: 150px;
    }

    #portfolio-title {
        font-size: 100px;
    }


    /*///////// BARS+ LATERAL TEXT /////////*/
    .lines-container {
        grid-column: 1/2;
        grid-row: 1/3;
        margin-top: 185px;
        letter-spacing: 2px;
    }

    .line1 {
        height: 2300px;
        left: 10px;
        margin-left: -3px;
        margin-top: 40px;
    }

    .line2 {
        height: 1000px;
        left: 30px;
        margin-left: -3px;
        margin-top: 70px
    }

    .line3 {
        height: 300px;
        left: 50px;
        margin-left: -3px;
        margin-top: 141px
    }

    #lateral-text-content {
        grid-column: 1/3;
        grid-row: 2/4;
    }

    #lateral-text-content h4 {
        margin-top: 209px;
    }

    /* /////////ABOUT page -media 768////////// */
    #about-container {
        grid-column: 3/4;
        grid-row: 2/3;
        background-color: red;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #me-photo {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 300px;
        display: block;
        margin: 0;
    }

    #about-info {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 120px;
        text-align: unset;
    }





    .subtitle-ambition {
        position: absolute;
        right: 192px;
        margin-bottom: 0px;
    }

    #subtitle-about {
        margin-top: 30px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    #about-info p {
        width: 255px;
        margin-top: 7px;
        margin-bottom: 0px;
        text-align: unset;
        margin-left: 0px;
    }

    .subtitle-location {
        grid-column: 1/2;
        grid-row: 2/2;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        align-self: start;
        justify-self: end;
        text-align: unset;
    }

    #map {
        grid-column: 2/3;
        grid-row: 2/2;
    }


    .wrap {
        margin-top: 0px;
    }

    .img-cart {
        float: left;
    }

    /* /////////PROJECT page -media 768////////// */
    /* #projects-container {
        grid-column: 2/4;
        grid-row: 3/4;
        background-color: greenyellow;
        margin-top: 30px;
    }

    #projects-container hr {
        border-top: 2.34px solid black;
        margin-top: -3px;
        margin-left: 335px;
    }

    #projects-container h3 {
        position: absolute;
        left: 426px;
        top: 1379px;
        margin-left: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
    } */

    /* /////////CONTACT page -media 768////////// */
    #contact-container {
        grid-column: 3/4;
        grid-row: 4/5;
    }

}