/* ///////////////////////////////// Overall layout ////////////////////////////// */
:root {
    --gold: #A58861;
    --gray: rgba(25, 26, 30, 0.4);
    --black: #141517;
    --white: #fff;
    --black-btn: #191A1E;
    --black-border-btn: rgba(25, 26, 30, 0.15);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Silka-SemiBold', sans-serif;
}

.wrapper {
    min-height: 100vh;
}

/* ////////////////// HEADER ///////////// */
header {
    overflow: hidden;
    background: var(--white);
    color: var(--black);
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid transparent;
    transition: .3s;
    z-index: 999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#logo {
    float: left;
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}

nav {
    float: right;
    display: inline-block;
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}

/* ////////////////// MAIN ///////////// */
main {
    margin-top: 75px;
}

/* ////////////////// FOOTER ///////////// */
footer {
    background: var(--black);
    color: var(--white);
    padding: 100px 60px;
    display: flex;
    width: 100%;
    text-align: center;
}

/*/////////////////////////////// PROJECT PAGE (start) //////////////////////////////*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-bottom: 20px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #0e1316bd;
    color: white;
    transform: rotateY(180deg);
}


.lazy-load__image {
    opacity: 0;
    transition: 2s;
    /* transform: translateY(5%); */
    transform: translateY(8%);
}

.lazy-load__image--active {
    opacity: 1;
    transform: translateY(0);
}

.wrap {
    max-width: 331px;
    margin: 0 auto;
    padding: 1em;
    line-height: 4em;
    /* background-color: aqua; */
}

/*/////////////////////////////// CONTACT ME PAGE (start) //////////////////////////////*/
#contact-title {
    font-size: 11px;
    line-height: 30px;
    margin-bottom: 5px;
}

#contact-subtitle {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 25px;
}

#contact-subtitle span {
    color: #A58861;
    display: inline-block;
}

.contact-btn {
    margin-bottom: 90px;
    background: #fff;
    border: 1px solid var(--black-border-btn);
    color: var(--black-btn);
    transition: all .15s ease-in-out;
    height: 60px;
    display: inline-block;
    padding: 30px 55px 30px 40px;
    line-height: 0px;
    border-radius: 30px;
    position: relative;
}

.contact-btn img {
    opacity: .5;
    position: absolute;
    top: 53%;
    transform: translate(0, -50%);
    display: inline-block;
    margin-left: 10px;
    border: 0;
    width: 25px;
}

.contact-btn:hover {
    text-decoration: none;
}

.contact-btn:hover img {
    opacity: 1;
    margin-left: 13px;
}

a {
    text-decoration: none;
}

/*/////////////////////////////// ABOUT ME PAGE (start) //////////////////////////////*/
#about-name {
    font-size: 11px;
    line-height: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--gray);
}

#about-title {
    margin-bottom: 60px;
}

#about-title span,
#about-subtitle span {
    color: var(--gold);
}

#about-description {
    background-color: black;
}

.img-add {
    background-size: cover;
    background-image: url(../images/me.png);
    width: 100%;
    min-height: 60vw;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

#about-description p {
    margin-bottom: 60px;
    font-size: 15px;
    line-height: 30px;
    color: white;
    width: 100%;
}


.social-btn {
    transition: all .25s ease-in-out;
}

.social-btn img {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}


#map {
    position: relative;
    transform: translate(-50%, 0);
    display: inline-block;
    left: 50%;
}

.location-dot {
    width: 20px;
    height: 20px;
    background: var(--gold);
    border-radius: 10px;
    top: 59%;
    left: 29%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.location-ring {
    width: 50px;
    height: 50px;
    border: 2px solid var(--gold);
    border-radius: 25px;
    top: calc(59% - 25px);
    left: calc(29% - 25px);
    position: absolute;
    transform: translate(-50%, -50%);
    animation: pulsate 1.5s ease-out infinite;
    opacity: 0;
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0.0;
    }
}

#map img {
    width: 100%;
}

@media screen and (min-width: 760px) {
    .about-info-block {
        width: 50%;
        float: left;
        position: relative;
        overflow: hidden;
        background: #191A1E;
    }
}